<ul>
    <li><a href="/">Home</a></li>
    <li ng-hide="navigationController.storage.token.length"><a href="{{navigationController.oAuthLink}}">Login using Reddit</a></li>

    <li ng-show="navigationController.storage.name.length"><a href="/user">Hi <b>{{navigationController.storage.name}}</b>!</a></li>
    <li ng-show="navigationController.storage.token.length"><a href="/logout">Logout</a></li>
</ul>
