<div>
    <h2>OAuth2 Login</h2>
    Click to request access from reddit.com
    <b><a href="{{loginController.oAuthLink}}">Go to reddit to accept permissions</a></b>
    <pre ng-show="loginController.token">
        state: {{loginController.state}}
        code: {{loginController.code}}
        accessToken: {{loginController.token}}
    </pre>
</div>
