<h3>/r/{{subredditController.subreddit}}</h3>

<div ng-hide="subredditController.posts.length > 0">Loading posts...</div>
<div ng-show="subredditController.posts.length > 0">
    Posts:
    <ul>
        <li ng-repeat="post in subredditController.posts">
            [{{post.data.score}}] <span ng-show="post.data.over_18" style="color: red;">NSFW</span> <a ng-href="{{post.data.url}}">{{post.data.title}}</a>
            | <a ng-href="{{post.data.permalink}}">{{post.data.num_comments}} comments</a>
            | in <a ng-href="/r/{{post.data.subreddit}}">/r/{{post.data.subreddit}}</a>
        </li>
    </ul>
    <a ng-show="subredditController.count > 25" ng-click="subredditController.getPosts('before')" ng-href="/r/{{subredditController.subreddit}}?before={{subredditController.before}}">< Previous Page</a>
    <a ng-click="subredditController.getPosts('after')"  ng-href="/r/{{subredditController.subreddit}}?after={{subredditController.after}}">Next Page ></a>
</div>
