<pre>This is the home.html template</pre>
<pre>Data: {{homeController.title}}</pre>

<h1>EDIT</h1>

<div ng-hide="homeController.posts.length > 0">Loading posts...</div>
<div ng-show="homeController.posts.length > 0">
    Posts:
    <ul>
        <li ng-repeat="post in homeController.posts">
            [{{post.data.score}}] <span ng-show="post.data.over_18" style="color: red;">NSFW</span> <a ng-href="{{post.data.url}}">{{post.data.title}}</a>
            | <a ng-href="{{post.data.permalink}}">{{post.data.num_comments}} comments</a>
            | in <a ng-href="/r/{{post.data.subreddit}}">/r/{{post.data.subreddit}}</a>
        </li>
    </ul>
    <a ng-show="homeController.count > 25" ng-click="homeController.getFrontpage('before')" ng-href="?before={{homeController.before}}">< Previous Page</a>
    <a ng-click="homeController.getFrontpage('after')"  ng-href="?after={{homeController.after}}">Next Page ></a>
</div>
