<h3>Comments</h3>
<div ng-hide="commentsController.comments.length > 0">Loading comments...</div>
<div ng-show="commentsController.comments.length > 0">
    <h4>[{{commentsController.post.score}}] {{commentsController.post.title}}</h4>
    <p>by: {{commentsController.post.author}}</p>

    Comments: TODO load unlimited nested comments
    <ul>
        <li ng-repeat="comment in commentsController.comments">

            <div ng-show="comment.kind == 'more'">
                <a href="#">
                    {{comment.kind}} TODO load more comments
                </a>
            </div>

            {{comment.data.body}}

            <ul>
               <li ng-repeat="reply in comment.data.replies.data.children">

                   <div ng-show="reply.kind == 'more'">
                       <a href="#">
                           {{reply.kind}} TODO load more comments
                       </a>
                   </div>

                   {{reply.data.body}}
               </li>
            </ul>


        </li>
    </ul>
</div>
